@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

.all {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#1F2937;
}

.navbar {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #6C737E;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 40px 100px;  
}

.box1left, .image {
    flex: 1;
}

.box1left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box1right {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 8px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 16px;
}

.button {
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    font-size: 18px;
    text-decoration: none;
}

.image {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 310px;
  object-fit: contain;
}

.box2 {
    background-color: white;
    text-align: center;
    padding: 40px;
}

.box2text {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin: 0 0 40px;
}

.illuboxes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.illubox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.illustration {
    border: 4px solid #3B82F6;
    border-radius: 12px;
    width: 150px;
    height: 150px;
}

.illu-p{
    font-size: 16px;
    margin-top: 8px;
    color: #9FA4AA;
}

.box3 {
    background-color: #E5E7EB;
    text-align: center;
    padding: 40px;
}

.box3text {
    color: #38414E;
    font-style: italic;
}

.box3namedropping {
    color: #1F2937;
    font-weight: bold;
}

.box4 {
    background-color: white;
    padding: 40px;
}

.window {
    background-color: #3B82F6;
    margin: 20px 40px;
    padding: 20px 40px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}

.box4txt1, .box4txt2 {
    margin: 0;
    padding: 0;
}

.button2 {
    border: 1px solid white;
    border-radius: 8px;
    background-color: #3B82F6;
    color:white;
    padding: 8px 24px;
    align-self: flex-start;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 12px;
}

.button, .button2, .illustration {
    transition: transform 0.25s ease-in-out;
}
.button:hover, .button2:hover, .illustration:hover{
    transform: scale(1.1);
}
